*{
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    list-style-type: none;

}

.section{
    padding-top: 94px;
    padding-bottom: 94px;
}

.backdrop{
    display: content;
    position: absolute;
    backdrop-filter: brightness(0.5);
    height: 100vh;
    width: 100%;
    z-index: 3;

    animation: modal 1s 2ms;
    animation-fill-mode: forwards;
    visibility: is-hidden;
    opacity: 0;
}

#cerrar{
    display: none;

}
#cerrar + label{
    background-color: #0c0c0c;
    position: absolute;
    color: #FFFFFF;
    font-size: 50px;
    z-index: 50;
    margin: auto;
    height: 40px;
    width: 30px;
    line-height: 30px;
    right: 610px;
    top: 270px;
    cursor: pointer;

    animation: modal 1s 1ms;
    animation-fill-mode: forwards;
    visibility:is-hidden;
    opacity: 0;
    

}
#cerrar:checked + label; #cerrar:checked ~ .modal{
    display: none;
}


@keyframes modal{
    100%{ 
        visibility: visible;
        opacity: 1;
    }
}
 
.modal{
    position: relative;
    display: flex;

    margin: auto;
    top: 30%;


    width: 30%;
    height: 30%;
    background-color: #FFFFFF;

}


h2{
    display: absolute;
    width: 100%;
    justify-content: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500%;
    font-size: 35px;
    left: 0%;
    line-height: 4px;
    letter-spacing: 0.03em;
    padding: 10px;
    color: #000000;
}

h4{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 5px;
    letter-spacing: 0.03em;
    color: #757575;
}

h5{
    display: absolute;
    width: 100%;
    justify-content: center;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    color: #FFFFFF;
}
/*header*/
.header_menu{
    background-color: rgb(255, 255, 255);
    position: absolute;
    width: 100%;
    height: 80px;
    left: 0%;
    top: 5px;
    bottom: 0px;
    background: rgb(255, 255, 255);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.09));
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    z-index: 2;
}


.text_1{
    
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 31px;
    top: 0;
    text-align: right;
    letter-spacing: 0.03em;
    
    color: #2196F3;
}

.text_2 {

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    
    color:#212121; 
    text-decoration: none;
    border-bottom: #fff solid  4px;
    transition: 200ms ease;


}

.text_3{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    top: 0%;
    justify-content: center;
    align-items: center;
    color:#2196F3;    
}
.text_4{
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    
    
    color: #757575;
}
.link__opened {
    position: relative;
    border-bottom: #2196F3 solid 4px;
    padding: 20px 0;
}

/*transition text*/

.text_2:hover{
    color: #2196F3;
    border-bottom: #2196F3 solid 3px;
    padding: 20px 0;
    transition: 200ms ease;
}

.header_menu nav{
    position: absolute;
    justify-content: left;
    display: flex;
    align-items: center;
    gap: 80px;
    margin: 0 auto;
    justify-items: center;
    left: 12%;
    width: auto;
    top: 20px;
}
.header_menu ul {
    display: flex;
    justify-content: end;
    justify-items: center;
    text-align: center;
    gap: 80px;
    top: 0%;
    margin: 28px auto;
    left: 0%;
}
.head_icon{
    display:inline;
    text-align: center;
    align-items: center;
    margin-right: 5px;
    width: auto;
    justify-content: center;
}
.div_icon{
    display:inline-block;
    margin: 10px 16px auto;
    justify-content: center;

    background: #F5F4FA;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.09);
    width: 245px;
    height: 100px;
}

.icon{
    margin-top: 15px;
    vertical-align: top;
    justify-content: center;
    align-items: center;

}
.container{
    left: 0%;
    max-width: 1200px;
    height: auto;
    margin:  auto;
    align-items: center;
    text-align: center;
    
}
.section_title{
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 600px;
    left: 0%;
    top: 80px;


    background-color: #2F303A;
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.3));
}


.section_title h1{
    padding-top: 150px;
    width: auto;
    height: 120px;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;

}
/*button*/
.section_title button{
    /*texto interno*/
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0.1em;
    color: #fffffff1;
}
.fr_button {
    justify-items: center;
    justify-content: center;
    left: 0%;
    width: 261px;
    height: 50px;
    background: #2196F3;
    border:none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin-top: 30px;
    
}
.button{
    max-width: 1200px;
    display: flex;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    left: 0%;
    width: 100%;
    margin-top: 110px;
}
.fr_button:hover{
    background-color: #F5F4FA;
    color: #212121;
    transition:  all 300ms ease;
}

.section_descripts{
    position: absolute;
    justify-items: center;
    justify-content: center;
    left: 0%;
    width: 100%;
    top: 750px;
    

}
table{
    margin: 40px 25px 0px;
    width: 1130px;
    left: 0%;
    height: 150px;
    padding-bottom: 20px;
    

    table-layout: fixed;
    border-collapse: collapse;    
}
  
th,
td {
    vertical-align: top;
    padding-top: 10px;
    padding-right: 1px;
    padding-left: 30px; 
  }
.section_descripts thead{
    align-items: center;
    align-content: center;


    text-align: left;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 15px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
}

.section_descripts tbody{

    text-align: justify;
    width: 1130px;
    text-align: initial;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.03em;
    color: #757575;

}
/*A QUE NOS DEEDICAMOS*/
.section_dedication  {
    position: absolute;
    width:100%;
    left: 0%;
    height: auto;
    margin: auto;
    top: 1100px;
}
.section_dedication div{
    margin: 0 auto;
    align-items: center;
    text-align: center;
    left: 0%;

}
.section_dedication img{
    width: 350px;
    left: 0%;
    margin-right: 33px;
    margin-left: 0px;    
}


.section_dedication ul{
    left: 0%;
    padding-top: 30px;
}

.rectangle{
    display: flex;
    position: absolute;
    top: 355px;
    height: 60px;
    width: 350px;
    background-color: #00000083;
    right: 768px;


    text-align: center;
    justify-content: center;
    color: #FFFFFF;
}
.rectangle1{
    display: flex;
    position: absolute;
    top: 355px;
    height: 60px;
    width: 349px;
    right: -8px;
    background-color: #00000083;

    justify-content: center;
    color: #FFFFFF;
    
}
.rectangle2{
    display: flex;
    position: absolute;
    top: 355px;
    height: 60px;
    width: 349px;
    background-color: #00000083;
    right: -781px;

    text-align: center;
    justify-content: center;
    color: #FFFFFF;
}

.list_d{
    display: inline;
    left: 0%;
}

/* Nuestro Equipo */
.section_team{
    left: 0%;
    text-align: center;
    position: absolute;
    width:100%;
    height: 620px;
    padding-top: 50px;
    top: 1600px;

    background: #F5F4FA;
}
/*nuestro equiipo*/
.list_sec{
    position: absolute;
    width: auto;
    height: auto;
}
.bord{
    display: inline-block;
    justify-content:center;
    margin: 0px 12px 0px;
    left: 0%;
    right: 1%;
}
.list_sec div > li{
    text-align: center;
}
.list_sec div > li > img  {
    width: 260px;
}

.tarjet{
    line-height: 1px;
    
    display: inline-block;
    background: #ffffff;
    border-radius: 5px;
    height: 420px;
    
}
.tarjet:hover{
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);

    transition: all 200ms ease-in-out;   
}

.social-icons{
    display: flex;
    padding-left: 25px;
    padding-top: 5px;
}
  
  .social-icon- {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 55px;
    fill: #FFFFFF;
}

.social-icon-:hover {
    fill: #46a8f8;
    transition: all ease-in-out 200ms;
}
.icon-:hover {
    fill: #46a8f8;
    transition: all ease-in-out 200ms;
}
.social-icon-:hover .coloricon {
    fill: #FFFFFF;    
    transition: all ease-in-out 200ms;
}
/*iconss*/
.icon_circle{
    display: inline-flex;
}


/* PORTAFOLIO SECCION */

.filters{
    left: 0%;
    position: absolute;
    display:inline-block;
    justify-content:center;
    width: 100%;
    height: 54px;
    margin-top: 90px;
    border: 0px;   
}
.filters button{
    left: 0%;
    border: 0px;
    width: 100px;
    height: 40px;
    padding: 5px 5px ;
    margin-right: 10px;
    border-radius: 5px;
    font-family: 'roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    transition: 400ms ease;

}
.filters button:hover{
    background-color: #46a8f8;
    color: #FFFFFF;
    transition: 400ms ease;

}

.section_project{
    position: absolute;
    display: flex;
    justify-items: center;
    justify-content: center;
    height: auto;
    left: 0;
    width: 100%;
}
h3{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
}
.list_project{
    display: flex;
    flex-wrap: wrap;
    gap: 60px 50px;
    padding: 0;
    left: 0;
    justify-content: center;
    width: 100%;
}
.block{
    display:block;
    justify-content:center;
    left: 0%;
}

.section_project .proj:hover{
    box-shadow: 1px 5px 5px  rgb(87, 87, 87, 0.2);
    transition: 500ms;
}
.proj:hover .overlay {
    transform: translatex(0);
    visibility: visible;
}
  
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2195f3d7;
    visibility: hidden;

    text-align: justify;
    padding: 30px 25px;

    transform: translatey(100%);
    transition: 250ms ease;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
  
.overlay > p {
    color: #fff;
    padding: 10px;
    margin: 0;
    font-size: 18px;
}
  
.proj{
    position: relative;
    display: inline-block;
    justify-content: space-between;
    border-radius: 5px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;

}
.textp{
    position: relative;
    width: 100%;
    height: 110px;
    margin-top: -25px;
    padding-left:20px;
    padding-top: 0.01em;
    padding-bottom: 2px;
    top: 0;
    left: 0;
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: left;
    letter-spacing: 0em;
    text-underline-offset: 0em;
    background-color: #FFFFFF;
}
.proj img{
    width:330px;
    border-radius: 5px 5px 0px 0px;

}

.addres_fin{
    position: absolute;
    width: 100%;
    height: 252px;
    top: 1628px;
    
    background: #2F303A;
}

.regular_clients{
    position:absolute;
    width: 100%;
    height: auto;
    top: 2300px;
    left: 0;
}

.regular_clients div:hover{
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.09);
    border: 1px solid #2196F3;

}
.regular_clients svg:hover{
    
    fill:#2196F3;
    transition: all ease-in 300ms;
    transition: all ease-out 300ms; 
}

.div_icon2{
    display:inline-block;
    margin: 20px 10px auto;
    justify-content: center;

    background: #ffffff;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    width: 170px;
    height: 81px;
}

.icon2{
    fill: #AFB1B8;
    margin-top: 10px;
    vertical-align: top;
    justify-content: center;
    align-items: center;
    

}
/* FOOTER*/

.footer_s{
    background: #2F303A;
    position:absolute;
    top:2600px;
    width:100%;
    left: 0%;
    height:230px;
    color: #FFFFFF;
}
.footer_c{
    background: #2F303A;
    position:absolute;
    top:1650px;
    left: 0%;
    height:230px;
    width:100%;
    color: #FFFFFF;
}
.adress_{
    position: absolute;
    top: 20px;
    width: 100%;
}
.ubication_{
    position: absolute;
    left: 13%;
    top: 60px;
    line-height: 27px;
}
.text_w{
    position: absolute;
    justify-content: left;
    display: flex;
    align-items: center;
    gap: 80px;
    margin: 0 auto;
    justify-items: center;
    left: 13%;
    width: auto;
    top: 20px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 31px;
    
    text-align: right;
    letter-spacing: 0.03em;
    
    color: #2196F3;
}
.email_2{
    position: absolute;
    color: rgb(255, 255, 255, 0.6);
    left: 13%;
    top: 120px;
}
.number_2{
    position: absolute;
    color: rgb(255, 255, 255, 0.6);
    left: 13%;
    top: 150px;
}
.find{
    display: flex;
    margin-left: 550px;
    margin-top: 20px;
}

.social-icons-{
    display: flex;
    margin-left: 550px;
}
  
  .social-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 60px;
}